/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #fff;
    --text-color: #1b1b1b;
    --main-color: #7FE47E;
    --second-color: #04CD00;

    --box-shadow: 2px 2px 10px rgb(14 55 54/ 25%);
    --second-box-shadow: 2px 2px 10px rgb(14 55 54/ 15%);
}

body {
    background-color: rgb(14 55 54/ 3%);
}

img {
    width: 100%;
}

.logo img {
    width: 40px;
    margin-bottom: -10px;   
}

p {
    font-weight: 300;
}

section {
    margin: 10px 100px;
    margin-bottom: 3rem;
    background-color: var(--bg-color);
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    padding: 17px 90px;
    box-shadow: var(--box-shadow) ;
    z-index: 10000;
    margin-bottom: 20px;
    background-color: #0D0A2C;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1.5rem;    
}

.navbar a:hover {
    color: #d4d2e385;
}

.navbar-btn {
    display: flex;
    gap: 15px;
}

#menu-icon {
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown i {
    color: var(--bg-color);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

a {
    transition: 0.3s linear;
    color: var(--bg-color);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.btn {
    font-size: .8em;
    font-weight: 500;
    padding: .3rem .9rem;
    border-radius: 1.875rem;
    color: var(--bg-color);
    transition: 0.3s linear;
    cursor: pointer;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var( #D4D2E3);
    outline: 1.5px solid;               
}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    outline: 1.5px solid;               
    background: var(--second-color);
}

.btn1:hover {
    color: var(--text-color);
    outline: none;
    background-color: var(--main-color);
}

.btn2:hover {
    color: var(--text-color);
    outline: none;
    background-color: var(--main-color);
}

.btn2:hover i:before {
    color: var(--text-color);
}

.home {
    margin: 5rem 0 3rem 0;
}

.home-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
    color: var(--bg-color);
    background-color: rgb(14 55 54/ 50%);
    width: 100%;
    padding: 15px 200px;
    text-align: center; 
    z-index:1;
}

.home-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.carousel {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    margin: 0 auto;
    scroll-behavior: smooth;
    border-radius: 5px;
    width: 100%;
    box-shadow: var(--box-shadow);
    z-index: 0;
}

.carousel::-webkit-scrollbar {
    display: none; /* Untuk browser berbasis WebKit */
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 1px;
    scroll-snap-align: start;
    width: 100%;
    opacity: 80%;
}

.btnNav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    z-index: 2;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    transform: translateY(-718%);
    width: 100%;
}

.nav-btn {
    color: #333;
    height: 100%;
    border: none;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.nav-btn.prev {
    border-radius: 0 9px 9px 0;
}

.nav-btn.next {
    border-radius: 9px 0 0 9px;
}

.nav-btn:hover {
    background-color: #555;
    color: #fff;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator {
    width: 29px;
    height: 3.5px;
    background-color: #bbb;
    border-radius: 50px;
    box-shadow: 2px 2px 8px rgb(14 55 54/ 55%);
    margin: 0 2px;   
    cursor: pointer;
    z-index: 2;
}

.indicator.active {
    background-color: #333;
}

.about {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    gap: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px;
    text-align: center;
    font-size: 1rem;
}

.about-img {
    margin: 0 20px;
}

.about-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about-btn .btn1,
.resource-btn .btn1 {
    color: var(--text-color);
}

.about-btn .btn2,
.resource-btn .btn2 {
    color: var(--text-color);
}

.resource-btn .btn2 i:before {
    color: var(--text-color);
}

.about-btn .btn1:hover,
.resource-btn .btn1:hover {
    color: var(--bg-color);
}

.about-btn .btn2:hover,
.resource-btn .btn2:hover {
    color: var(--bg-color);
}

.resource-btn .btn2:hover i:before {
    color: var(--bg-color);
}

.resource {
    display: grid;
    grid-template-rows: auto auto;
    padding: 50px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.resource-text {
    display: grid;
    grid-template-columns: 50% 50%;
}

.resource-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.resource-box {
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    width: 100%;
    position: relative;
}

.resource-box::-webkit-scrollbar {
    display: none;
}

.resource-box .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 0 0 auto;
    margin: 20px 5px 20px;
    padding: 25px;
    box-shadow: var(--second-box-shadow);
    border-radius: 10px;
    width: 340px;
    transition: 0.3s;
}

.resource-box .box:hover {
    background-color: rgb(14 55 54/ 10%);
    scale: 1.02;
}

.resource-box .box p {
    height: 150px;
}

.resource-box .box img {
    width: 50px;
    border-radius: 50%;
}

.resource-nav{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    z-index: 2;
    transform: translateY(500%);
}

.download {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
    box-shadow: 2px 2px 10px rgb(14 55 54/25%);
    border-radius: 8px;
    gap: 20px;
}

.download-box {
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 8px;
    box-shadow: var(--second-box-shadow);
    text-align: center;
}

.dark {
    color: var(--bg-color);
    background-color: #333;
}

.dark .btn {
    color: var(--bg-color);
    outline-color: var(--bg-color);
}

.dark .btn:hover {
    color: var(--text-color);
    outline: none;
}

.contact {
    display: grid;
    grid-template-columns: auto 45%;
    padding: 50px;
    gap: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-text a{
    color: black;
    font-weight: 300;
}

.sosmed-section a {
    color: black;
    font-weight: 300;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    background-color: #F2F1FA;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

input, textarea {
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: var(--second-box-shadow);
    border: none;
}

form button {
    border-radius: 20px;
    padding: 10px 12px;
    border: 1px solid;
    color: var(--bg-color);
    background-color: #333;
    box-shadow: var(--second-box-shadow);
    cursor: pointer;
    transition: 0.5s;
}

form button:hover {
    color: var(--text-color);
    background-color: #F2F1FA;
    outline: 1px solid #333;
}

.sosmed {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    gap: 20px;
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    text-align: center;
    margin-bottom: 10vh;
}

iframe {
    border-radius: 8px;
    box-shadow: var(--second-box-shadow);
    margin-top: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 50px;
    align-items: center;
    background-color: #333;
    color: #fff;
}

@media (max-width: 1380px) {
    .sosmed {
        grid-template-columns: auto;
    }
    iframe {
        width: 600px;
        height: 350px;
    }
}

@media (max-width: 1260px) {
    .download-box {
        padding: 80px 30px;
    }
}

@media (max-width: 1140px) {
    section {
        margin: 50px 20px;
    }
}

@media (max-width: 980px) {
    .about,.resource,.download,.contact {
        padding: 30px;
    }
    .about {
        padding: 50px 30px;
    }
    .download-box {
        padding: 45px 30px;
    }
}

@media (max-width: 890px) {
    section {
        margin: 20px 20px;
    }
}

@media (max-width: 840px) {
    .home-text {
        padding: 15px 30px;
        background-color: rgb(14 55 54/ 25%);
    }
    .download {
        grid-template-columns: auto;
    }
    .contact {
        grid-template-columns: auto;
        gap: 50px;
    }
    nav {
        padding: 17px 20px;
    }
    .navbar {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: -780px;
        left: 0;
        right: 0;
        background-color: #0d0a2c;
        transition: 0.5s ;
    }
    .navbar.active {
        padding-bottom: 40px;
        top: 80px;
    }
    #menu-icon {
        display: block; 
    }
}

@media (max-width: 700px) {
    .home-text, .home-text a {
        font-size: 10px;
    }
    .about {
        grid-template-columns: auto;
    }
    .resource-text {
        grid-template-columns: auto;
        gap: 20px;
        text-align: center;
    }
    .sosmed {
        padding: 20px;
    }
    iframe {
        width: 450px;
        height: 300px;
    }
}

@media (max-width: 547px) {
    iframe {
        width: 350px;
        height: 200px;
    }
}

@media (max-width: 440px) {
    .home-text {
        font-size: 10px;
    }
    iframe {
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 440px) {
    .home-text, .home-text a {
        font-size: 9px;
        gap: -5px;
    }
    iframe {
        width: 250px;
        height: 200px;
    }
}
